[submodule "public"]
	path = public
	url = https://github.com/kristd/kristd.github.io.git
	branch = master
[submodule "themes/harbor"]
	path = themes/harbor
	url = https://github.com/matsuyoshi30/harbor.git
